In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
airports_file_path = 'C:/Users/MSI\Desktop/flightsDelay/airports.csv'
flights_file_path='C:/Users/MSI/Desktop/flightsDelay/flights.csv'
airlines_file_path='C:/Users/MSI/Desktop/flightsDelay/airlines.csv'
airports_data = pd.read_csv(airports_file_path)
flights_data = pd.read_csv(flights_file_path , low_memory=False)
airlines_data = pd.read_csv(airlines_file_path)

In [4]:
flights_data.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
flights_data.loc[:,["WEATHER_DELAY"]]

         WEATHER_DELAY
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN
...                ...
5819074            NaN
5819075            NaN
5819076            NaN
5819077            NaN
5819078            NaN

[5819079 rows x 1 columns]

In [6]:
def dep_delay (row):
    row.dep_delay = max(row.DEPARTURE_DELAY -15,0)
    return row

In [7]:
flights_data.loc[:,:].apply(dep_delay,axis='columns')

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,2015,12,31,4,B6,688,N657JB,LAX,BOS,2359,...,753.0,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819075,2015,12,31,4,B6,745,N828JB,JFK,PSE,2359,...,430.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819076,2015,12,31,4,B6,1503,N913JB,JFK,SJU,2359,...,432.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819077,2015,12,31,4,B6,333,N527JB,MCO,SJU,2359,...,330.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819078,2015,12,31,4,B6,839,N534JB,JFK,BQN,2359,...,442.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
airports_data.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [9]:
pip install -U airportsdata

Requirement already satisfied: airportsdata in c:\users\msi\anaconda3\lib\site-packages (20230717)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import airportsdata
airports = airportsdata.load('IATA')

In [11]:
def airport_tz(airport):
    return airports[airport]["tz"]
def add_tz(row):
    if (row.IATA_CODE!= 'ISN'):
        a=airport_tz(row.IATA_CODE)
    else:
        return ('America/Denver','America/Chicago')
    return a

In [12]:
airports_data["tz"] = airports_data.apply(add_tz , axis='columns')

In [13]:
pip install pytz

Requirement already satisfied: pytz in c:\users\msi\anaconda3\lib\site-packages (2022.7)
Note: you may need to restart the kernel to use updated packages.

In [14]:
import pytz
from datetime import datetime , timedelta

In [15]:
tz_df = airports_data.loc[:,['IATA_CODE','tz']]
tz_df.rename(columns={'IATA_CODE':'ORIGIN_AIRPORT'},inplace=True)
data = flights_data
merged_data = pd.merge(tz_df,data, on='ORIGIN_AIRPORT')
merged_data.head()

,ORIGIN_AIRPORT,tz,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,DESTINATION_AIRPORT,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,ABE,America/New_York,2015,1,1,4,EV,5103,N846AS,DTW,...,733.0,-20.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,ABE,America/New_York,2015,1,1,4,EV,5579,N136EV,ATL,...,834.0,-20.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,ABE,America/New_York,2015,1,1,4,EV,5267,N131EV,ATL,...,1759.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,ABE,America/New_York,2015,1,2,5,EV,5103,N849AS,DTW,...,740.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,ABE,America/New_York,2015,1,2,5,EV,6144,N15912,ORD,...,726.0,6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
def add_time(row):
    if(row.ORIGIN_AIRPORT!='ISN'):
        hour = row['SCHEDULED_DEPARTURE'] // 100
        minute = row['SCHEDULED_DEPARTURE'] % 100
        time_zone = pytz.timezone(row['tz'])
        t = datetime(row['YEAR'], row['MONTH'], row['DAY'], hour, minute,0,tzinfo=time_zone)
        t_utc = t.astimezone(pytz.utc)
        
    else:
        hour = row['SCHEDULED_DEPARTURE'] // 100
        minute = row['SCHEDULED_DEPARTURE'] % 100
        if (row['MONTH'] in [11,12,1,2] and (row['MONTH']==3 and row['DAY']<8)):
            time_zone = pytz.timezone(row['tz'][1])
        else:
            time_zone = pytz.timezone(row['tz'][0])
        t = datetime(row['YEAR'], row['MONTH'], row['DAY'], hour, minute,0,tzinfo=time_zone)
        t_utc = t.astimezone(pytz.utc)
        
    return t_utc

merged_data["time"] = merged_data.apply(add_time, axis=1)
merged_data.loc[merged_data.ORIGIN_AIRPORT.isin(['ISN'])]

,ORIGIN_AIRPORT,tz,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,DESTINATION_AIRPORT,...,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,time
2411428,ISN,"(America/Denver, America/Chicago)",2015,1,1,4,EV,6020,N11121,DEN,...,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01 13:01:00+00:00
2411429,ISN,"(America/Denver, America/Chicago)",2015,1,1,4,OO,4716,N8903A,MSP,...,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01 13:20:00+00:00
2411430,ISN,"(America/Denver, America/Chicago)",2015,1,1,4,EV,5936,N11181,DEN,...,-33.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01 15:10:00+00:00
2411431,ISN,"(America/Denver, America/Chicago)",2015,1,1,4,OO,4830,N441SW,MSP,...,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01 19:10:00+00:00
2411432,ISN,"(America/Denver, America/Chicago)",2015,1,1,4,EV,3267,N14186,DEN,...,50.0,0,0,NaN,0.0,0.0,0.0,50.0,0.0,2015-01-01 20:15:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2413965,ISN,"(America/Denver, America/Chicago)",2015,12,31,4,OO,4594,N988CA,MSP,...,-20.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31 13:00:00+00:00
2413966,ISN,"(America/Denver, America/Chicago)",2015,12,31,4,OO,5264,N593ML,DEN,...,0.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31 15:00:00+00:00
2413967,ISN,"(America/Denver, America/Chicago)",2015,12,31,4,OO,4663,N8884E,MSP,...,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31 19:35:00+00:00
2413968,ISN,"(America/Denver, America/Chicago)",2015,12,31,4,OO,5659,N915SW,DEN,...,16.0,0,0,NaN,0.0,0.0,0.0,16.0,0.0,2015-12-31 20:36:00+00:00
2413969,ISN,"(America/Denver, America/Chicago)",2015,12,31,4,EV,6066,N31131,IAH,...,-24.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31 21:40:00+00:00

In [17]:
def tolerance_delay(row):
    row.DEPARTURE_DELAY = row.DEPARTURE_DELAY - 15
    if row.DEPARTURE_DELAY <= 0:
        row.DEPARTURE_DELAY=0
    return row

merged_data=merged_data.apply(tolerance_delay, axis='columns')

In [19]:
merged_data.dropna(subset=['DEPARTURE_DELAY'], inplace=True)
# Convert 6 hours to minutes
max_delay_minutes = 6 * 60

# Drop rows where 'DEPARTURE_DELAY' is greater than 6 hours (360 minutes)
merged_data = merged_data[merged_data['DEPARTURE_DELAY'] <= max_delay_minutes]

In [20]:

dep_delay_max = merged_data["DEPARTURE_DELAY"].max()
dep_delay_min = merged_data["DEPARTURE_DELAY"].min()
# min = 0.0
# max = 360.0
merged_data['DEPARTURE_DELAY'] = merged_data['DEPARTURE_DELAY'].apply(lambda x: (x - 0.0) / (360.0 - 0.0))
merged_data["DEPARTURE_DELAY"].max()

C:\Users\MSI\AppData\Local\Temp\ipykernel_2832\1245098869.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_data['DEPARTURE_DELAY'] = merged_data['DEPARTURE_DELAY'].apply(lambda x: (x - 0.0) / (360.0 - 0.0))

1.0

In [21]:
merged_data['year'] = merged_data['time'].dt.year
merged_data['month'] = merged_data['time'].dt.month
merged_data['day'] = merged_data['time'].dt.day
merged_data['hour'] = merged_data['time'].dt.hour
day_of_month={1:31,
              2:28,
              3:31,
              4:30,
              5:31,
              6:30,
             7:31,
             8:31,
             9:30,
             10:31,
             11:30,
             12:31}

yearly_groups = merged_data.groupby('year')
airports = airports_data.IATA_CODE.unique()
avg_delay_df = pd.DataFrame(columns=airports)

monthly_groups = yearly_groups.get_group(2015).sort_values(by='time').groupby('month')
for j in range(1,13):
    daily_groups = monthly_groups.get_group(j).sort_values(by='time')
    available_days = daily_groups['day'].unique()
    daily_groups = monthly_groups.get_group(j).sort_values(by='time').groupby('day')
    for k in range(1,day_of_month[j]+1):
        if (k not in available_days):
            continue
        else:
            hourly_groups = daily_groups.get_group(k).sort_values(by='time')
            available_hours = hourly_groups['hour'].unique()
            hourly_groups = daily_groups.get_group(k).sort_values(by='time').groupby('hour')

            for l in range(0,24):
                if (l not in available_hours):
                    continue
                else:
                    airport_groups=hourly_groups.get_group(l).sort_values(by='time')
                    available_airports = airport_groups['ORIGIN_AIRPORT'].unique()
                    airport_groups=hourly_groups.get_group(l).sort_values(by='time').groupby("ORIGIN_AIRPORT")

                    t = datetime(2015, j, k, l, 0,0,tzinfo=pytz.utc)
                    dict={'time':t}
                    for n in airports: 
                        if (n in available_airports):
                            dict[n]= airport_groups.get_group(n)['DEPARTURE_DELAY'].mean()
                        else:
                            dict[n]=0
                    new_row = pd.DataFrame(dict,index=[0])
                    avg_delay_df =  pd.concat([avg_delay_df,new_row], ignore_index=True)
                        

avg_delay_df

C:\Users\MSI\AppData\Local\Temp\ipykernel_2832\90356604.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_data['year'] = merged_data['time'].dt.year
C:\Users\MSI\AppData\Local\Temp\ipykernel_2832\90356604.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_data['month'] = merged_data['time'].dt.month
C:\Users\MSI\AppData\Local\Temp\ipykernel_2832\90356604.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_data['day'] = merged_data['time'].dt.day
C:\Users\MSI\AppData\Local\Temp\ipykernel_2832\90356604.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_data['hour'] = merged_data['time'].dt.hour

,ABE,ABI,ABQ,ABR,ABY,ACK,ACT,ACV,ACY,ADK,...,UST,VEL,VLD,VPS,WRG,WYS,XNA,YAK,YUM,time
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2015-01-01 00:00:00+00:00
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2015-01-01 01:00:00+00:00
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.0,0,0,0,0,2015-01-01 02:00:00+00:00
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2015-01-01 03:00:00+00:00
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2015-01-01 04:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8033,0,0,0.041667,0,0.011111,0,0.0,0,0,0,...,0,0,0,0,0,0,0.0,0,0,2015-12-31 19:00:00+00:00
8034,0,0.0,0.02963,0,0,0,0,0.0,0,0,...,0,0,0,0.0,0,0,0,0,0.0,2015-12-31 20:00:00+00:00
8035,0,0,0.002778,0.225,0,0,0,0,0,0,...,0,0,0,0.0,0,0,0.0,0,0,2015-12-31 21:00:00+00:00
8036,0,0,0.0,0,0,0,0.0,0,0.0,0,...,0,0,0,0.0,0,0,0,0,0,2015-12-31 22:00:00+00:00
8037,0,0,0.0,0,0,0,0,0,0.330556,0,...,0,0,0,0,0,0,0.0,0,0.0,2015-12-31 23:00:00+00:00

In [ ]:
avg_delay_df.to_csv('avg_delay', index=False)

In [23]:
merged_data['year'] = merged_data['time'].dt.year
merged_data['month'] = merged_data['time'].dt.month
merged_data['day'] = merged_data['time'].dt.day
merged_data['hour'] = merged_data['time'].dt.hour

airports = airports_data.IATA_CODE.unique()

def adj_matrix (df,airports,date):
    year = date.year
    month = date.month
    day = date.day
    hour = date.hour
    A = pd.DataFrame(columns=airports)
    yearly_groups = df.groupby('year')
    monthly_groups = yearly_groups.get_group(year).sort_values(by='time').groupby('month')
    daily_groups = monthly_groups.get_group(month).sort_values(by='time').groupby('day')
    hourly_groups = daily_groups.get_group(day).sort_values(by='time').groupby('hour')
    airport_groups=hourly_groups.get_group(hour).sort_values(by='time')
    dep_airports = airport_groups['ORIGIN_AIRPORT'].unique()
    airport_groups=hourly_groups.get_group(hour).sort_values(by='time').groupby('ORIGIN_AIRPORT')
    df_array=[]
    for i in airports:
        row = {"i":i}
        if i not in dep_airports:
            for j in airports:
                row[j]=0
        else:
            airport_data = airport_groups.get_group(i)
            dest_airports = airport_data['DESTINATION_AIRPORT'].unique()

            for j in airports :
                if j not in dest_airports:
                    row[j]=0
                else:
                    row[j]=airport_data.loc[ (airport_data['DESTINATION_AIRPORT']==j) ]['DEPARTURE_DELAY'].mean()

        df_array.append(row)
        #A=A.append(row, ignore_index=True)
    #print(row)
    A=pd.DataFrame(df_array)
    A.set_index('i' , inplace=True)
    A = A.astype(float)
    #print(df_array)
    return A

A = adj_matrix(merged_data,airports,avg_delay_df['time'][7000])
A
#pd.to_datetime(merged_data['time'][0])

C:\Users\MSI\AppData\Local\Temp\ipykernel_10912\1045325516.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_data['year'] = merged_data['time'].dt.year
C:\Users\MSI\AppData\Local\Temp\ipykernel_10912\1045325516.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_data['month'] = merged_data['time'].dt.month
C:\Users\MSI\AppData\Local\Temp\ipykernel_10912\1045325516.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_data['day'] = merged_data['time'].dt.day
C:\Users\MSI\AppData\Local\Temp\ipykernel_10912\1045325516.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_data['hour'] = merged_data['time'].dt.hour

,ABE,ABI,ABQ,ABR,ABY,ACK,ACT,ACV,ACY,ADK,...,TYS,UST,VEL,VLD,VPS,WRG,WYS,XNA,YAK,YUM
i,,,,,,,,,,,,,,,,,,,,,
ABE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ABI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ABQ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ABR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ABY,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WRG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
WYS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
XNA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
YAK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
YUM,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
yearly_groups = merged_data.groupby('year')
monthly_groups = yearly_groups.get_group(2015).sort_values(by='time').groupby('month')
daily_groups = monthly_groups.get_group(12).sort_values(by='time').groupby('day')
hourly_groups = daily_groups.get_group(31).sort_values(by='time').groupby('hour')
airport_groups=hourly_groups.get_group(19).sort_values(by='time')
airport_groups.loc[airport_groups['ORIGIN_AIRPORT']=='MCO'][['DESTINATION_AIRPORT','DEPARTURE_DELAY']]

        DESTINATION_AIRPORT  DEPARTURE_DELAY
3211274                 STL         0.000000
3211275                 MSP         0.547222
3211276                 PHL         0.000000
3211277                 PHL         0.125000
3211278                 EWR         0.000000
3211279                 DEN         0.000000
3211282                 DCA         0.052778
3211281                 BHM         0.108333
3211280                 ATL         0.030556
3211284                 PVD         0.116667
3211283                 EWR         0.000000
3211285                 DFW         0.000000
3211286                 LBE         0.144444
3211290                 JFK         0.000000
3211289                 PHL         0.000000
3211288                 MIA         0.000000
3211287                 CLE         0.111111
3211291                 SJU         0.000000
3211292                 BWI         0.000000
3211293                 SWF         0.000000
3211294                 BWI         0.000000
3211295                 RDU         0.000000
3211296                 LGA         0.188889

In [26]:
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt

DiGraph with 5 nodes and 4 edges

In [27]:

def PageRank_score(adj_matrix):

    adj_matrix_numpy_array = adj_matrix.to_numpy()
    # Convert the adjacency matrix into a NetworkX graph
    G = nx.Graph(adj_matrix_numpy_array)
    # Calculate PageRank scores
    pagerank_scores = nx.pagerank(G)
    scores={}
    for i in range(322):
        scores[airports[i]]=pagerank_scores[i]
    return scores

PageRank_score(A)

{'ABE': 0.0010905135710057353,
 'ABI': 0.0010905135710057353,
 'ABQ': 0.0010905135710057353,
 'ABR': 0.0010905135710057353,
 'ABY': 0.0010905135710057353,
 'ACK': 0.0010905135710057353,
 'ACT': 0.0010905135710057353,
 'ACV': 0.0010905135710057353,
 'ACY': 0.0010905135710057353,
 'ADK': 0.0010905135710057353,
 'ADQ': 0.0010905135710057353,
 'AEX': 0.0010905135710057353,
 'AGS': 0.0010905135710057353,
 'AKN': 0.0010905135710057353,
 'ALB': 0.0010905135710057353,
 'ALO': 0.0010905135710057353,
 'AMA': 0.0010905135710057353,
 'ANC': 0.010597927957803434,
 'APN': 0.0010905135710057353,
 'ASE': 0.0010905135710057353,
 'ATL': 0.05036950832802353,
 'ATW': 0.0010905135710057353,
 'AUS': 0.005009700042063594,
 'AVL': 0.0010905135710057353,
 'AVP': 0.0010905135710057353,
 'AZO': 0.0010905135710057353,
 'BDL': 0.0010905135710057353,
 'BET': 0.0021656670628364587,
 'BFL': 0.0010905135710057353,
 'BGM': 0.0010905135710057353,
 'BGR': 0.0010905135710057353,
 'BHM': 0.005096641778380106,
 'BIL': 0.0026565552837766004,
 'BIS': 0.002644068892076593,
 'BJI': 0.0010905135710057353,
 'BLI': 0.0010905135710057353,
 'BMI': 0.0010905135710057353,
 'BNA': 0.0010905135710057353,
 'BOI': 0.00617996361333341,
 'BOS': 0.006067145959687742,
 'BPT': 0.0010905135710057353,
 'BQK': 0.0010905135710057353,
 'BQN': 0.0010905135710057353,
 'BRD': 0.0010905135710057353,
 'BRO': 0.0010905135710057353,
 'BRW': 0.0010905135710057353,
 'BTM': 0.0010905135710057353,
 'BTR': 0.002242196241537867,
 'BTV': 0.0010905135710057353,
 'BUF': 0.008551793347975692,
 'BUR': 0.0023055904254779824,
 'BWI': 0.012598155788720332,
 'BZN': 0.0010905135710057353,
 'CAE': 0.0010905135710057353,
 'CAK': 0.006505110792973284,
 'CDC': 0.0010905135710057353,
 'CDV': 0.0010905135710057353,
 'CEC': 0.0010905135710057353,
 'CHA': 0.0010905135710057353,
 'CHO': 0.0010905135710057353,
 'CHS': 0.0025553904896140787,
 'CID': 0.0010905135710057353,
 'CIU': 0.0010905135710057353,
 'CLD': 0.0010905135710057353,
 'CLE': 0.0030877439082758083,
 'CLL': 0.0010905135710057353,
 'CLT': 0.003891788190948317,
 'CMH': 0.0024981257238783404,
 'CMI': 0.0010905135710057353,
 'CMX': 0.0010905135710057353,
 'CNY': 0.0010905135710057353,
 'COD': 0.0010905135710057353,
 'COS': 0.006884215847910569,
 'COU': 0.0010905135710057353,
 'CPR': 0.0010905135710057353,
 'CRP': 0.0010905135710057353,
 'CRW': 0.0010905135710057353,
 'CSG': 0.0010905135710057353,
 'CVG': 0.004731394556619463,
 'CWA': 0.002301372865369786,
 'DAB': 0.0010905135710057353,
 'DAL': 0.0027876843762467763,
 'DAY': 0.0014119735309890396,
 'DBQ': 0.0010905135710057353,
 'DCA': 0.007342367537637843,
 'DEN': 0.051703934507455925,
 'DFW': 0.01523389921823095,
 'DHN': 0.0010905135710057353,
 'DIK': 0.0010905135710057353,
 'DLG': 0.0010905135710057353,
 'DLH': 0.004700245052317434,
 'DRO': 0.0010905135710057353,
 'DSM': 0.0010905135710057353,
 'DTW': 0.024081801409241866,
 'DVL': 0.0010905135710057353,
 'EAU': 0.0010905135710057353,
 'ECP': 0.0010905135710057353,
 'EGE': 0.0010905135710057353,
 'EKO': 0.0010905135710057353,
 'ELM': 0.0010905135710057353,
 'ELP': 0.00131445186805365,
 'ERI': 0.0010905135710057353,
 'ESC': 0.0010905135710057353,
 'EUG': 0.0012382533552294018,
 'EVV': 0.002918225713442039,
 'EWN': 0.0013591778840654118,
 'EWR': 0.004845295189133753,
 'EYW': 0.0010905135710057353,
 'FAI': 0.0010905135710057353,
 'FAR': 0.0010905135710057353,
 'FAT': 0.0010905135710057353,
 'FAY': 0.0010905135710057353,
 'FCA': 0.0010905135710057353,
 'FLG': 0.0010905135710057353,
 'FLL': 0.0067490476342228515,
 'FNT': 0.0010905135710057353,
 'FSD': 0.0010905135710057353,
 'FSM': 0.001508435835765232,
 'FWA': 0.00813548889123725,
 'GCC': 0.0010905135710057353,
 'GCK': 0.0010905135710057353,
 'GEG': 0.0010905135710057353,
 'GFK': 0.0010905135710057353,
 'GGG': 0.0010905135710057353,
 'GJT': 0.0010905135710057353,
 'GNV': 0.0019562096908646927,
 'GPT': 0.0010905135710057353,
 'GRB': 0.0010905135710057353,
 'GRI': 0.0010905135710057353,
 'GRK': 0.0010905135710057353,
 'GRR': 0.008267656163033859,
 'GSO': 0.006709214271956293,
 'GSP': 0.0010905135710057353,
 'GST': 0.0010905135710057353,
 'GTF': 0.0017701165784346012,
 'GTR': 0.0010905135710057353,
 'GUC': 0.0010905135710057353,
 'GUM': 0.0010905135710057353,
 'HDN': 0.0010905135710057353,
 'HIB': 0.0010905135710057353,
 'HLN': 0.0010905135710057353,
 'HNL': 0.002304153264872027,
 'HOB': 0.0010905135710057353,
 'HOU': 0.002560164684801842,
 'HPN': 0.0010905135710057353,
 'HRL': 0.0010905135710057353,
 'HSV': 0.0010905135710057353,
 'HYA': 0.0010905135710057353,
 'HYS': 0.0010905135710057353,
 'IAD': 0.0029368585016705667,
 'IAG': 0.0010905135710057353,
 'IAH': 0.016259004431064154,
 'ICT': 0.008422260526171215,
 'IDA': 0.0017996645352793344,
 'ILG': 0.0010905135710057353,
 'ILM': 0.0010905135710057353,
 'IMT': 0.0010905135710057353,
 'IND': 0.0010905135710057353,
 'INL': 0.0010905135710057353,
 'ISN': 0.0010905135710057353,
 'ISP': 0.0010905135710057353,
 'ITH': 0.0010905135710057353,
 'ITO': 0.0010905135710057353,
 'JAC': 0.0010905135710057353,
 'JAN': 0.0010905135710057353,
 'JAX': 0.0010905135710057353,
 'JFK': 0.011903510422523494,
 'JLN': 0.0010905135710057353,
 'JMS': 0.0010905135710057353,
 'JNU': 0.0010905135710057353,
 'KOA': 0.0010905135710057353,
 'KTN': 0.0010905135710057353,
 'LAN': 0.0013875167941516345,
 'LAR': 0.0019178563626582677,
 'LAS': 0.006022898952918093,
 'LAW': 0.0010905135710057353,
 'LAX': 0.01433181564742514,
 'LBB': 0.0010905135710057353,
 'LBE': 0.005080020321104836,
 'LCH': 0.0010905135710057353,
 'LEX': 0.0010905135710057353,
 'LFT': 0.0011203651613456993,
 'LGA': 0.004907446485655092,
 'LGB': 0.0010905135710057353,
 'LIH': 0.0010905135710057353,
 'LIT': 0.008063409632798103,
 'LNK': 0.0042253429424841,
 'LRD': 0.0010905135710057353,
 'LSE': 0.00166167361551708,
 'LWS': 0.0010905135710057353,
 'MAF': 0.0010905135710057353,
 'MBS': 0.0010905135710057353,
 'MCI': 0.0012982601694045606,
 'MCO': 0.008327513226915745,
 'MDT': 0.0010905135710057353,
 'MDW': 0.0030113158222080296,
 'MEI': 0.0010905135710057353,
 'MEM': 0.005518912242485391,
 'MFE': 0.0010905135710057353,
 'MFR': 0.0010905135710057353,
 'MGM': 0.0010905135710057353,
 'MHK': 0.0010905135710057353,
 'MHT': 0.0010905135710057353,
 'MIA': 0.0013801709881909401,
 'MKE': 0.00552271551641377,
 'MKG': 0.0010905135710057353,
 'MLB': 0.0010905135710057353,
 'MLI': 0.0010905135710057353,
 'MLU': 0.0010905135710057353,
 'MMH': 0.0010905135710057353,
 'MOB': 0.0010905135710057353,
 'MOT': 0.0010905135710057353,
 'MQT': 0.0010905135710057353,
 'MRY': 0.0010905135710057353,
 'MSN': 0.0010905135710057353,
 'MSO': 0.0010905135710057353,
 'MSP': 0.007613392152374197,
 'MSY': 0.004315540564023331,
 'MTJ': 0.0010905135710057353,
 'MVY': 0.0010905135710057353,
 'MYR': 0.0010905135710057353,
 'OAJ': 0.0010905135710057353,
 'OAK': 0.004812375747149624,
 'OGG': 0.0010905135710057353,
 'OKC': 0.004695364306063198,
 'OMA': 0.0010905135710057353,
 'OME': 0.0010905135710057353,
 'ONT': 0.0018166982469039505,
 'ORD': 0.1302620017632374,
 'ORF': 0.0010905135710057353,
 'ORH': 0.0010905135710057353,
 'OTH': 0.0010905135710057353,
 'OTZ': 0.009046649410553088,
 'PAH': 0.0010905135710057353,
 'PBG': 0.0010905135710057353,
 'PBI': 0.0010905135710057353,
 'PDX': 0.008950453862976184,
 'PHF': 0.0010905135710057353,
 'PHL': 0.009150711734505889,
 'PHX': 0.007484972146210576,
 'PIA': 0.0010905135710057353,
 'PIB': 0.0010905135710057353,
 'PIH': 0.0010905135710057353,
 'PIT': 0.001323560537366417,
 'PLN': 0.0010905135710057353,
 'PNS': 0.0012824606827610905,
 'PPG': 0.0010905135710057353,
 'PSC': 0.001740568621589868,
 'PSE': 0.0010905135710057353,
 'PSG': 0.0010905135710057353,
 'PSP': 0.0010905135710057353,
 'PUB': 0.0010905135710057353,
 'PVD': 0.002955833515248225,
 'PWM': 0.008441017095208454,
 'RAP': 0.004997027799556265,
 'RDD': 0.0010905135710057353,
 'RDM': 0.0010905135710057353,
 'RDU': 0.0013591778840654118,
 'RHI': 0.0010905135710057353,
 'RIC': 0.0010905135710057353,
 'RKS': 0.0010905135710057353,
 'RNO': 0.0013268972257636017,
 'ROA': 0.009239997733815921,
 'ROC': 0.0010905135710057353,
 'ROW': 0.0010905135710057353,
 'RST': 0.0010905135710057353,
 'RSW': 0.001609495274907626,
 'SAF': 0.0010905135710057353,
 'SAN': 0.011942508441436166,
 'SAT': 0.0014813307558718199,
 'SAV': 0.0010905135710057353,
 'SBA': 0.0010905135710057353,
 'SBN': 0.002075616052224549,
 'SBP': 0.0010905135710057353,
 'SCC': 0.0010905135710057353,
 'SCE': 0.0010905135710057353,
 'SDF': 0.001684173032652223,
 'SEA': 0.014631408277503723,
 'SFO': 0.015434472485371208,
 'SGF': 0.0010905135710057353,
 'SGU': 0.0012382533552294018,
 'SHV': 0.0024935383169840462,
 'SIT': 0.0010905135710057353,
 'SJC': 0.0018379399113348422,
 'SJT': 0.0010905135710057353,
 'SJU': 0.0032049633437713316,
 'SLC': 0.011512612471989736,
 'SMF': 0.004373085567735015,
 'SMX': 0.0010905135710057353,
 'SNA': 0.013721547005558528,
 'SPI': 0.0010905135710057353,
 'SPS': 0.0010905135710057353,
 'SRQ': 0.0010905135710057353,
 'STC': 0.0010905135710057353,
 'STL': 0.0059540856825361695,
 'STT': 0.0010905135710057353,
 'STX': 0.0010905135710057353,
 'SUN': 0.0010905135710057353,
 'SUX': 0.0010905135710057353,
 'SWF': 0.0010905135710057353,
 'SYR': 0.0010905135710057353,
 'TLH': 0.0012397715227055555,
 'TOL': 0.0010905135710057353,
 'TPA': 0.003329855785076926,
 'TRI': 0.0018965065101847647,
 'TTN': 0.0010905135710057353,
 'TUL': 0.00467028149639433,
 'TUS': 0.001178149400324724,
 'TVC': 0.0014372354353549201,
 'TWF': 0.0010905135710057353,
 'TXK': 0.0010905135710057353,
 'TYR': 0.0010905135710057353,
 'TYS': 0.0010905135710057353,
 'UST': 0.0010905135710057353,
 'VEL': 0.0010905135710057353,
 'VLD': 0.0010905135710057353,
 'VPS': 0.004921821395215275,
 'WRG': 0.0010905135710057353,
 'WYS': 0.0010905135710057353,
 'XNA': 0.007738816489117787,
 'YAK': 0.0010905135710057353,
 'YUM': 0.0010905135710057353}

In [28]:
PageRanked_avg_delay = avg_delay_df
def changement(row):
    time = row["time"]
    A = adj_matrix(merged_data,airports,time)
    score = PageRank_score(A)
    dict={}
    for i in airports:
        dict[i]=score[i]*row[i]
    return dict

In [29]:
final_input=[]
# for i in range(8038):
#     final_input.append(changement(avg_delay_df.loc[i,:]))
#     print(i)
# final_input_df = pd.DataFrame(final_input)

In [1]:
final_input_df["time"] = avg_delay_df.loc[:,['time']]
final_input_df

NameError: name 'avg_delay_df' is not defined

In [33]:
final_input_df.set_index("time",inplace=True)

In [85]:
plotting_vals = avg_delay_df.loc[:,["ACY","time"]]
#plt.plot(plotting_vals.time,plotting_vals.ACY)
plotting_vals.set_index("time",inplace=True)